data/
data_vehicles/
dataset/
ckpts/
checkpoints/phase1/model-16.th   
checkpoints/phase1/model-450.th  
checkpoints/phase1/model-701.th  
checkpoints/phase1/model-828.th  
checkpoints/phase1/model-868.th  
checkpoints/phase1/model-904.th
checkpoints/phase1/model-192.th  
checkpoints/phase1/model-451.th  
checkpoints/phase1/model-750.th  
checkpoints/phase1/model-832.th  
checkpoints/phase1/model-872.th  
checkpoints/phase1/model-908.th
checkpoints/phase1/model-1.th    
checkpoints/phase1/model-4.th    
checkpoints/phase1/model-751.th  
checkpoints/phase1/model-836.th  
checkpoints/phase1/model-876.th  
checkpoints/phase1/model-912.th
checkpoints/phase1/model-256.th  
checkpoints/phase1/model-500.th  
checkpoints/phase1/model-800.th  
checkpoints/phase1/model-840.th  
checkpoints/phase1/model-880.th  
checkpoints/phase1/model-916.th
checkpoints/phase1/model-257.th  
checkpoints/phase1/model-501.th  
checkpoints/phase1/model-804.th  
checkpoints/phase1/model-844.th  
checkpoints/phase1/model-884.th  
checkpoints/phase1/model-2.th    
checkpoints/phase1/model-550.th  
checkpoints/phase1/model-808.th  
checkpoints/phase1/model-848.th  
checkpoints/phase1/model-888.th
checkpoints/phase1/model-300.th  
checkpoints/phase1/model-600.th  
checkpoints/phase1/model-812.th  
checkpoints/phase1/model-852.th  
checkpoints/phase1/model-892.th
checkpoints/phase1/model-32.th   
checkpoints/phase1/model-64.th   
checkpoints/phase1/model-816.th  
checkpoints/phase1/model-856.th  
checkpoints/phase1/model-896.th
checkpoints/phase1/model-350.th  
checkpoints/phase1/model-650.th  
checkpoints/phase1/model-820.th  
checkpoints/phase1/model-860.th  
checkpoints/phase1/model-8.th
checkpoints/phase1/model-128.th  
checkpoints/phase1/model-400.th  
checkpoints/phase1/model-700.th  
checkpoints/phase1/model-824.th  
checkpoints/phase1/model-864.th  
checkpoints/phase1/model-900.th
checkpoints/phase0/
checkpoints/phase1/
